{% extends 'base.html' %}
{% block title %}
  Пост {{ post.text|slice:":30" }}
{% endblock %}
{% load user_filters %}
{% block content %}
          <ul>
            <li>
              Дата публикации: {{ post.pub_date|date:"d E Y" }}
            </li>
            {% if post.group %}   
            <li>
              Группа: {{ post.group.title }}                       
              <a href="{% url 'posts:group_posts' post.group.slug %}">все записи группы</a>         
            </li>
            {% endif %}
            <li>
              Автор: {{ post.author.get_full_name }}
            </li>
            <li>
              Всего постов автора: {{ post.author.posts.count }}
            </li>
            <li>
              <a href="{% url 'posts:profile' post.author.username %}">все посты пользователя</a>
            </li>
          </ul>
          {% include "posts/includes/thumbnail_images.html" %}
        <article>
          <p>            
            {{ post.text|linebreaks }}
          </p>
          {% if post.author == user %}
          <a href="{% url 'posts:post_edit' post.pk %}">редактировать запись</a>
          {% endif %}
        </article>
        {% if user.is_authenticated %}
          <div class="card my-4">
            <h5 class="card-header">Добавить комментарий:</h5>
            <div class="card-body">
              <form method="post" action="{% url 'posts:add_comment' post.id %}">
                {% csrf_token %}      
                <div class="form-group mb-2">
                  {{ form.text|addclass:"form-control" }}
                </div>
                <button type="submit" class="btn btn-primary">Отправить</button>
              </form>
            </div>
          </div>
        {% endif %}
        {% for comment in comments %}
        <div class="media mb-4">
          <div class="media-body">
            <h5 class="mt-0">
              <a href="{% url 'posts:profile' comment.author.username %}">
                {{ comment.author.username }}
              </a>
            </h5>
          <p>
            {{ comment.text }}
          </p>
          </div>
        </div>
        {% endfor %}
{% endblock %}